.choice-suit__gender-bar-button {
  all: unset;
  width: 212px;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  cursor: pointer;
}

@media screen and (max-width: 499px) {
  .choice-suit__gender-bar-button {
    width: 128px;
    font-size: 13px;
    line-height: 21px;
  }
}
