.choice-suit__size-panel-button {
  all: unset;
  margin: 0 16px 0 0;
  box-sizing: border-box;
  padding: 8px 18px;
  border: 1px solid rgba(27, 97, 2, 1);
  border-radius: 10px;
  cursor: pointer;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  z-index: 0;
}

.choice-suit__size-panel-button:active {
  background-color: rgba(27, 97, 2, 1);
  color: #fff;
}

@media screen and (max-width: 499px) {
  .choice-suit__size-panel-button {
    padding: 4px 18px;
  }
}
