.choice-suit__slider-description {
  margin: 0 0 12px 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  max-width: 299px;
}

@media screen and (max-width: 499px) {
  .choice-suit__slider-description {
    margin-bottom: 8px;
    text-align: center;
    font-size: 13px;
    line-height: 17px;
  }
}
